* {
    box-sizing: border-box;
}

body * {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1rem;
}

/*Grid for Homepage*/

.container {
    display: grid;
    margin: 0;
    grid-template-columns: auto;
    grid-template-rows: 250px minmax(50px, auto) auto auto;
    grid-template-areas: "hd" "navbar" "main" "ft";
    background-color: #fff;
    width: 100%;
}

/*Styles for header*/

.header {
    grid-area: hd;
    background-image: url('../assets/header.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.header h1 {
    margin: 0;
    color: #fff;
}

.header img {
    width: 100px;
    height: 100px;
}

.header a {
    text-decoration: none;
}

/*Styles for navbar*/

#navbar {
    grid-area: navbar;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background: #DCDCDC;
    padding: 8px 0;
    position: sticky;
    top: 0;
    z-index: 700;
    margin: 0;
    width: 100%;
}

/*Strip the ul of padding and list styling*/

#nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Create a horizontal list with spacing*/

.nav-item {
    margin: 0 12px;
    display: inline-block;
}

/*Style for menu links*/

.nav-item a {
    text-decoration: none;
    color: #666;
}

/*Hover state for the links*/

.nav-item a:hover {
    color: #FB4C39;
}

/*Style 'burger-menu' label button and hide it by default*/

.burger-menu {
    display: none;
}

.burger-menu img {
    width: 20px;
    height: 20px;
}

/*Hide checkbox*/

input[type=checkbox] {
    display: none;
}

/*Show menu when invisible chechbox is checked*/

input[type=checkbox]:checked~#nav-list {
    display: block;
}

.btn {
    color: #fff;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    background-color: #FB4C39;
    border-color: #FB4C39;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0.35rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out;
}

.btn:hover {
    background-color: #D9329E !important;
    border-color: #D9329E !important;
}

/*Styles for main part of homepage*/

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: "cards sb";
    margin: 20px 0;
    padding: 4%;
    width: 100%;
}

.main h2 {
    margin-left: 1rem;
}

/*Styles for cards - blog posts*/

.wrapper-cards {
    grid-area: cards;
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    width: 100%;
}

.card {
    width: 18rem;
    margin: 0 1rem 2rem;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
}

.card-subtitle {
    color: #6c757d;
    margin-bottom: 0.5rem;
    margin-top: -0.25rem;
}

.card-text {
    margin-top: 0;
    margin-bottom: 1rem;
}

.wrapper-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: antiquewhite;
    width: 65px;
    height: 25px;
    border-radius: 5%;
}

.wrapper-icons img {
    width: 15px;
    height: 15px;
    object-fit: contain;
    opacity: 80%;
    display: block;
    margin: auto 0;
}

.wrapper-icons img:hover {
    opacity: 40%;
}

.more {
    color: #FB4C39;
}

.more:hover {
    color: #D9329E;
}

/*Styles for sidebar components*/

.sidebar {
    grid-area: sb;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.wrapper-avatar {
    margin-bottom: 20px;
}

.avatar {
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.wrapper-about {
    display: block;
    margin-bottom: 50px;
    width: 100%;
}

.wrapper-gallery {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, auto);
    grid-auto-flow: column;
    justify-content: space-between;
    row-gap: 0.2rem;
    column-gap: 0.2rem;
}

.gallery img {
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.gallery img:hover {
    transform: scale(1.15, 1.15);
}

/*Styles for footer*/

.footer {
    grid-area: ft;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: smaller;
    width: 100%;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.wrapper-social-media-icons {
    margin: 10px 0 20px 0;
}

.wrapper-social-media-icons img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
    opacity: 60%;
}

.wrapper-social-media-icons img:hover {
    opacity: 90%;
}

.copyright {
    width: 10px;
    height: 10px;
}

/*Responsive Styles*/

@media (max-width: 383px) {
    .header h1 {
        font-size: 2.25rem;
    }

    .header img {
        width: 35%;
        height: 35%;
    }

    .header a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #navbar {
        flex-direction: column;
    }
    /*Display 'burger-menu' link*/
    .burger-menu {
        display: block;
    }
    /*Make dropdown links appear inline*/
    #nav-list {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .nav-item {
        margin: 10px 0;
        text-align: center;
    }
    /*Make all menu links full width*/
    #nav-list li, .nav-item a {
        width: 100%;
    }
    .main {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "cards" "sb";
        justify-items: center;
    }
    .main h2 {
        text-align: center;
        margin-left: 0;
    }
    .wrapper-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .card {
        width: 100%;
    }
    .wrapper-icons {
        margin: auto;
    }
    .wrapper-about {
        margin: 50px auto;
        text-align: center;
    }
    .wrapper-gallery {
        text-align: center;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 383px) and (max-width: 710px) {
    .header h1 {
        font-size: 2.75rem;
    }

    #navbar {
        flex-direction: column;
    }
    /*Display 'burger-menu' link*/
    .burger-menu {
        display: block;
    }
    /*Make dropdown links appear inline*/
    #nav-list {
        position: static;
        display: none;
    }
    /*Create vertical spacing*/
    .nav-item {
        margin: 10px 0;
        text-align: center;
    }
    /*Make all menu links full width*/
    #nav-list li, .nav-item a {
        width: 100%;
    }
    .main {
        grid-template-columns: auto;
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "cards" "sb";
        justify-items: center;
    }
    .main h2 {
        text-align: center;
        margin-left: 0;
    }
    .wrapper-cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
    }
    .card {
        width: calc(14rem + 5vw);
    }
    .wrapper-about {
        margin: 50px auto;
        text-align: center;
    }
    .wrapper-gallery {
        text-align: center;
    }
}

@media (min-width: 710px) and (max-width: 800px) {
    .main {
        grid-template-columns: 60% 40%;
        padding: 1% 5%;
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (min-width: 800px) and (max-width: 993px) {
    .card {
        width: calc(25rem + 10vw);
    }
    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(4, 1fr);
    }
}